{% extends 'base.twig' %}

{% block page_title %}

  {{ title }}

{% endblock %}


{%  block content %}

  <!-- Project Banner -->
  <section class="relative ">
    <!-- Image -->
    <img class="image__projets" src="../datas/{{ lang }}/img/{{ projet.img1 }}" alt="Project Image" class="w-full h-full object-cover">

    <!-- Gradient Overlay -->
    <div class=" "></div>

    <!-- Return Button -->

    <a href="listing.php" class="btn btn__retour  ">Retour</a>


    <!-- Play Button (using SVG for the play triangle) -->
    <button class="btn__play ">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="white">
        <path strokeLinecap="round" strokeLinejoin="round" strokeWidth="2" d="M6 2L6 22 18 12 6 2z"></path>
      </svg>
    </button>

    <!-- Text Info -->
    <div class="nom__projet ">
      <h1 class="">{{ projet.nom }}</h1>
      <p class=""><span>Réalisé par : </span>
        {% set i = 1 %}
        {% for currentStudent in allCurrentStudents %}
          {% if i < allCurrentStudents|length %}
            <span>{{ currentStudent.nom }} | </span>
          {% else %}
            <span>{{ currentStudent.nom }}</span>
          {% endif %}
          {% set i = i + 1 %}
        {% endfor %}
      </p>
    </div>
  </section>

 
    {% if projet.video != null %}
    <iframe class="container__video"  src="{{ projet.video }}" title="YouTube video player"  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
  {% endif %}


 
 


  {% if botMessage['description'] != null %}
    {% set message = botMessage['description'] %}
    {% include 'partials/botleft.twig' %}
  {% endif %}

  {% if botMessage['description'] != null %}
    {% set message = botMessage['infoSup'] %}
    {% include 'partials/botleft.twig' %}
  {% endif %}



<h3 class="title title--small grid__projet--marg"> Auteurs </h3>
<ul class="liste">
  {% for student in allCurrentStudents %}
    {% include 'partials/auteurCard.twig' %}
  {% endfor %}
</ul>

<h3 class="title title--small grid__projet--marg">Projets smilaires</h3>
<ul class="liste">
  {% include 'partials/projetSimilaire.twig' %}
</ul>


<div class="btn__backHome grid__projet--marg">
  <a href="listing.php" class="btn ">Retour à la HOME</a>
</div>

{% endblock %}

