{% extends 'base.twig' %}

{% block head__scripts %}
  <script src="https://www.youtube.com/iframe_api"></script>

  <script>
    // Cette fonction doit être globale.
    var player;
    function onYouTubeIframeAPIReady() {
      player = new YT.Player('player', { // Assurez-vous que l'ID est le même que celui de votre iframe
        events: {
          'onReady': onPlayerReady
        }
      });
      document.querySelector('.projectVideo').classList.add('projectVideo--hidden');
    }

    function onPlayerReady(event) {
      var playButton = document.querySelector('.btn__play');
      var projectVideo = document.querySelector('.projectVideo');
      var hiddenClass = 'projectVideo--hidden';

      playButton.addEventListener('click', function() {
        projectVideo.classList.toggle(hiddenClass);
        if (!projectVideo.classList.contains(hiddenClass)) {
          player.playVideo();
        } else {
          player.pauseVideo();
        }
      });

      projectVideo.addEventListener('click', function() {
        projectVideo.classList.add(hiddenClass);
        player.pauseVideo();
      });
    }
  </script>

{% endblock %}




{% block page_title %}

  {{ title }}

{% endblock %}


{%  block content %}

  <!-- Project Banner -->
  <section class="relative projectBanner">
    <!-- Image -->
    <img class="projectBanner__img" src="../datas/{{ lang }}/img/{{ projet.img1 }}" alt="Project Image" class="w-full h-full object-cover">

    <!-- Gradient Overlay -->
    <div class=" "></div>

    <!-- Return Button -->

    <a href="listing.php" class="btn btn__retour  projectBanner__btn">Retour</a>


    <!-- Play Button (using SVG for the play triangle) si video est présente dans le projet-->

    {% if projet.video != "" %}
      <svg class="btn__play projectBanner__playBtn" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" color="#F45D01" stroke-width="1.5"><path d="M6.90588 4.53682C6.50592 4.2998 6 4.58808 6 5.05299V18.947C6 19.4119 6.50592 19.7002 6.90588 19.4632L18.629 12.5162C19.0211 12.2838 19.0211 11.7162 18.629 11.4838L6.90588 4.53682Z" fill="#F45D01" stroke="#F45D01" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path></svg>
    {% endif %}

    <!-- Text Info -->
    <div class="nom__projet projectBanner__content">
      <h1 class="projectBanner__contentTitle">{{ projet.nom }}</h1>
      <p class="projectBanner__contentStudent">
        {% set i = 1 %}
        {% for currentStudent in allCurrentStudents %}
          {% if i < allCurrentStudents|length %}
            <span>{{ currentStudent.nom }} | </span>
          {% else %}
            <span>{{ currentStudent.nom }}</span>
          {% endif %}
          {% set i = i + 1 %}
        {% endfor %}

        <span> </span>

        {% for option in options %}
          {% if option.id == projet.option %}
            <span class="projectBanner__option">{{ option.nom }} </span>
          {% endif %}
        {% endfor %}
      </p>
    </div>
  </section>

  <!-- Project Video -->
  <section class="projectVideo projectVideo--hidden">
    {% if projet.video != null %}
      <iframe id="player" class="projectVideo__container" src="{{ projet.video ~ "&enablejsapi=1&playerapiid=ytplayer" }}" title="YouTube video player | {{ projet.nom }}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture;" allowfullscreen></iframe>
    {% endif %}
  </section>

  <!-- Project Content -->
  <section class="projectContent">
    <!-- DEscription + info supp -->
    <div class="projectContent--flex">
      {% if botMessage['description'] != null %}
        <div class="projectContent__content projectContent__content--middle">
          <h3 class="projectContent__title ">Description du projet</h3>
          {% set message = botMessage['description'] %}
          {% include 'partials/botleft.twig' %}
        </div>
      {% endif %}


      {% if botMessage['description'] != null %}
        <div class="projectContent__content projectContent__content--middle">
          <h3 class="projectContent__title ">Autres infos</h3>
          {% set message = botMessage['infoSup'] %}
          {% include 'partials/botleft.twig' %}
        </div>
      {% endif %}
    </div>

    <!-- Images -->
    <div class="projectContent__content">
      <h3 class="projectContent__title ">{{ projet.nom }} en image</h3>
      <div class="projectContent__imgs grid">
        {% for image in images %}
          {% if image.url is not null %}
            <div class="projectContent__imgContainer {{ image.class }}">
              <img class="projectContent__img" src="../datas/{{ lang }}/img/{{ image.url }}" alt="Project Image">
            </div>
          {% endif %}
        {% endfor %}
      </div>
    </div>

    <!-- Auteurs -->
    <div class="projectContent__content">
      <h3 class=""> Auteurs </h3>
      <div class="auteur">
        {% for student in allCurrentStudents %}
          {% include 'partials/auteurCard.twig' %}
        {% endfor %}
      </div>
    </div>

    <div class="projectContent__content">
      <h3 class="">Projets smilaires</h3>
      <div class="liste">
        {% include 'partials/projetSimilaire.twig' %}
      </div>
    </div>
  </section>

{% endblock %}

