{% extends 'base.twig' %}

{% block page_title %}

  {{ title }}

{% endblock %}


{%  block content %}

  <!-- Project Banner -->
  <section class="relative h-1/2 w-full">
    <!-- Image -->
    <img src="../datas/{{ lang }}/img/{{ projet.img1 }}" alt="Project Image" class="w-full h-full object-cover">

    <!-- Gradient Overlay -->
    <div class="absolute inset-0 bg-gradient-to-t from-black to-transparent"></div>

    <!-- Return Button -->
    <a href="#" class="absolute top-4 left-4 bg-red-500 text-white py-2 px-6 rounded-lg">Retour</a>

    <!-- Play Button (using SVG for the play triangle) -->
    <button class="absolute inset-0 w-16 h-16 mx-auto my-auto">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="white">
        <path strokeLinecap="round" strokeLinejoin="round" strokeWidth="2" d="M6 2L6 22 18 12 6 2z"></path>
      </svg>
    </button>

    <!-- Text Info -->
    <div class="absolute bottom-4 left-4">
      <h1 class="text-6xl text-white font-bold mb-2">{{ projet.nom }}</h1>
      <p class="text-xl text-red-500">Réalisé par : {{ studentName }}</p>
    </div>
  </section>


  {% set message = botMessage['description'] %}
  {% include 'partials/botleft.twig' %}

  {% set message = botMessage['infoSup'] %}
  {% include 'partials/botleft.twig' %}

  {% include 'partials/auteurCard.twig' %}

  {% include 'partials/projetSimilaire.twig' %}

  <a href="listing.php" class="bg-red-500 text-white py-2 px-6 rounded-lg">Retour à la HOME</a>


{% endblock %}

