{% extends 'base.twig' %}

{% block page_title %}

  {{ title }}

{% endblock %}


{%  block content %}

  <img class="image__auteur " src="datas/etudiantsImage/{{ student.photo }}" alt="{{ student.nom }}">

  <h1 class="title title--big ">{{ student.nom }}</h1>
  <h2 class="title title--medium student--marg">{{ studentOption.nom }}</h2>

  <p class="student--marg"> {{ student.description }}</p>

  <ul class="liste__reseau">
    <li class="reseau__el ">
      <a href="{{ student.site }}">{{ student.site }}</a>
    </li>
    <li class="reseau__el "><a href="{{ student.fb }}">{{ student.fb }}</a></li>
    <li class="reseau__el "><a href="{{ student.linkedin }}">{{ student.linkedin }}</a></li>
    <li class="reseau__el "><a href="{{ student.inst }}">{{ student.inst }}</a></li>
    <li class="reseau__el "><a href="{{ student.artstation }}">{{ student.artstation }}</a></li>
    <li class="reseau__el "><a href="{{ student.autres }}">{{ student.autres }}</a></li>
  </ul>
  
  


{% endblock %}

