{% extends 'base.twig' %}

{% block page_title %}

  {{ title }}

{% endblock %}


{%  block content %}
  <section class="student">
    <div class="student__container">
      <img src="datas/etudiantsImage/{{ student.photo }}" alt="{{ student.nom }}" class="student__item student__img ">

      <h1 class="student__item student__item--name">{{ student.nom }}</h1>
      <h2 class="student__item student__item--option">{{ studentOption.nom }}</h2>

      <p class="student__item">{{ student.description }}</p>

      <div class="student__reseaux student__item">
        {% if student.site != "" %}
          {% set link = student.site %}
          {% set nomLink = "Mon site" %}
          {% include 'partials/studentLink.twig' %}
        {% endif %}

        {% if student.fb != "" %}
          {% set link = student.fb %}
          {% set nomLink = "Facebook" %}
          {% include 'partials/studentLink.twig' %}
        {% endif %}

        {% if student.linkedin != "" %}
          {% set link = student.linkedin %}
          {% set nomLink = "LinkedIn" %}
          {% include 'partials/studentLink.twig' %}
        {% endif %}

        {% if student.inst != "" %}
          {% set link = student.inst %}
          {% set nomLink = "Instagram" %}
          {% include 'partials/studentLink.twig' %}
        {% endif %}

        {% if student.artstation != "" %}
          {% set link = student.artstation %}
          {% set nomLink = "Artstation" %}
          {% include 'partials/studentLink.twig' %}
        {% endif %}

        {% if student.autres != "" %}
          {% set link = student.autres %}
          {% set nomLink = student.autres %}
          {% include 'partials/studentLink.twig' %}
        {% endif %}
      </div>

    </div>
  </section>

{% endblock %}

