<a class="relative " href="projet.php?id={{ projet.id }}">
  <img class="image__projets" src="../datas/{{ lang }}/img/{{ projet.imgCard }}" alt="Background Image" class="w-full h-full object-cover rounded-xl">


  <div class="nom__projet ">
    <h2 class="">{{ projet.nom }}</h2>
    <p class=" "><span>Réalisé par : </span>
      {% for student in projet.filteredStudents %}
        {% if loop.last %}
          <span>{{ student.nom }}</span>
        {% else %}
          <span>{{ student.nom }} | </span>
        {% endif %}
      {% endfor %}
    </p>
  </div>
</a>

